/* body {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
/* Shaged style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color:#FD6E0A;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.section-center{
    text-align: center;
    margin: 20px 100px;
}

/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;


}
.nav-title{
    font-weight: 800;
    font-size: 2em;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.btn-contact{
    background-color: #fff;
    color: #FD6E0A;
    border: 1px solid;
    margin-left: 20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    width: 585px;
}
.banner-hi{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 80px 150px;
    text-align: center;
}
.about-bg{
    background-color: #fff;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}
/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;

}
.skill{
    background-color: #fff;
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    
}

/* resume section styles  */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 14px;
    margin-bottom: 0px;

}
.experience-sub-title, .experience-description{
    color: #474747;
}

/* footer styles  */
footer{
    padding: 130px 250px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}